parameters:
    level: 5
    paths:
        - %rootDir%/../../../src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#PHPDoc tag @var with type Sinnbeck\\DomAssertions\\Support\\DomParser is not subtype of native type Closure#' # getDomParser() is a macro that returns DomParser at runtime
        - '#Access to an undefined property Sinnbeck\\DomAssertions\\TestResponseMacros::\$headers#' # $this is bound to TestResponse at runtime via mixin
