parameters:
    level: 5
    paths:
        - %rootDir%/../../../src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Call to an undefined method.*::getDomParser#' # We macro the parser so stan complains
